<div>
  <span>Du kannst dich jetzt <a href="<%= login_link(@token, @requested_path) %>">einloggen</a>!</span>
  <br/><br/>
  <span>Dieser Link ist nur für begrenzte Zeit gültig. Du kannst Dir aber jederzeit einen neuen schicken lassen.</span>
</div>
