<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A private blog">
    <meta name="author" content="Philip Müller">

    <title>Anna und Philips Kanada-Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="content">
      <header id="main-header">
        <nav role="navigation">
          <ul>
            <%= if @current_user do %>
              <li>Eingeloggt als <%= @current_user.first_name <> " " <> @current_user.last_name %></li>
              <li><%= link "Artikel-Übersicht", to: "/" %></li>
            <% end %>
          </ul>
          <%= if @current_user && @current_user.role == "admin" do %>
            <ul>
              <li>Admin:</li>
              <li><%= link "Artikel", to: admin_article_path(@conn, :index) %></li>
              <li><%= link "User", to: admin_user_path(@conn, :index) %></li>
            </ul>
          <% end %>
        </nav>
      </header>

      <div>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /#content -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
