<div class="article-show">
  <article>
    <header>
      <h2><%= @article.title %></h2>
    </header>
    <%= {:safe, render_markdown @article.content} %>
  </article>
  <footer>
    <%= link "Zurück zur Übersicht", to: article_path(@conn, :index) %>
  </footer>
</div>
