<div id="article-show">
  <article>
    <%= render("header.html", article: @article) %>
    <a href="#comments-headline"><%= length(@article.comments) %> Kommentare</a>
    <%= render("body.html", article: @article) %>
    <%= render(Scripture.CommentView, "section.html", conn: @conn, article: @article, comment_changeset: @comment_changeset) %>
  </article>
  <footer>
    <%= link "Zurück zur Übersicht", to: article_path(@conn, :index) %>
  </footer>
</div>
