<div id="article-show">
  <article>
    <header>
      <h1 id="main-headline"><%= @article.title %></h1>
    </header>
    <%= {:safe, render_markdown @article.content} %>
  </article>
  <footer>
    <%= link "Zurück zur Übersicht", to: article_path(@conn, :index) %>
  </footer>
</div>
