<div id="login_token-new">
  <h2>Login</h2>

  <%= form_for @conn, login_token_path(@conn, :create), [as: :login_token_create], fn f -> %>
    <div class="form-group">
      <label>Email</label>
      <%= email_input f, :email, class: "form-control" %>
    </div>

    <%= hidden_input f, :requested_path, value: assigns[:requested_path], class: "form-control" %>

    <div class="form-group">
      <%= submit "Sende mir einen Login-Link", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
