<h2>Show article</h2>

<%= render Scripture.ArticleView, "show.html", %{conn: @conn, article: @article} %>

<%= link "Edit", to: admin_article_path(@conn, :edit, @article) %>
<%= link "Back", to: admin_article_path(@conn, :index) %>
