<h2>Article Preview</h2>

<div id="article-show">
  <article>
    <%= render Scripture.ArticleView, "header.html", article: @article %>
    <%= render Scripture.ArticleView, "body.html", article: @article %>
  </article>
</div>

<footer>
  <ul>
    <li><%= link "Edit", to: admin_article_path(@conn, :edit, @article) %></li>
    <li><%= link "Back", to: admin_article_path(@conn, :index) %></li>
  </ul>
</footer>
